// Color
$c-light-grey: #6c6c6c;
$c-dark-red: #a21010;
$c-silver: #f5f5f5;
$c-black: #000000;
$c-white: #ffffff;
$c-grey: #e8e8e8;
$c-red: #ac1313;

// Font size
$fs-base: 14;

// Font familly
$ff-base: "Libre Franklin", sans-serif;
$ff-poppins: "Poppins", sans-serif;

// * Bezier
$b-normal: cubic-bezier(0.4, 0, 0.2, 1);

// * Transition
$t-normal: 0.35s $b-normal;
