@import "../../../../styles/mixins.scss";
@import "../../../../styles/media.scss";
@import "../../../../styles/variables";

header {
  justify-content: space-between;
  background-color: $c-white;
  align-items: center;
  position: fixed;
  padding: 15px;
  display: flex;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
}

nav {
  align-items: center;
  display: flex;

  @include media("<=desktop") {
    background-color: $c-white;
    flex-direction: column;
    padding-top: 100px;
    position: fixed;
    height: 100vh;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
}

ul {
  display: flex;

  @include media("<=desktop") {
    flex-direction: column;
    align-items: center;
  }
}

li {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }

  @include media("<=desktop") {
    margin-right: 0;
  }
}

a {
  transition: color $t-normal;
  text-transform: uppercase;
  font-family: $ff-poppins;
  color: $c-light-grey;
  letter-spacing: 2px;
  font-size: em(12);
  line-height: 22px;
  font-weight: 400;

  &:hover {
    color: $c-red;
  }
}
